**/node_modules
**/.next
**/dist
**/.git
**/.gitignore
**/.DS_Store
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/.env.local
**/coverage
**/.nyc_output
**/.cache
**/.parcel-cache
**/.turbo
**/build
**/out
**/.vscode
**/.idea
*.log